<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.notesr">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/appName"
        android:roundIcon="@drawable/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q"
        tools:ignore="AllowBackup">

        <activity
            android:name="com.notesr.views.MainActivity"
            android:label="@string/appName"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.notesr.views.StartActivity"
            android:label="@string/appName"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.notesr.views.SetupActivity"
            android:label="@string/appName"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.notesr.views.AccessActivity"
            android:label="@string/appName"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.notesr.views.ChangeActivity"
            android:label="@string/appName"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.notesr.views.RecoveryActivity"
            android:label="@string/appName"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.notesr.views.ImportActivity"
            android:label="@string/appName"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.notesr.views.ChooseFileActivity"
            android:label="@string/appName"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>