<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".security.activity.SetupKeyActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".security.activity.AuthActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".security.activity.KeyRecoveryActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".security.activity.ImportKeyActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".security.activity.ReEncryptionActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".note.activity.NotesListActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".note.activity.OpenNoteActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".note.activity.SearchNotesActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".note.activity.ViewNotesSearchResultsActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".file.activity.FilesListActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".file.activity.AddFileActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".file.activity.viewer.OpenImageActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".file.activity.viewer.OpenVideoActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".file.activity.viewer.OpenTextFileActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".file.activity.viewer.OpenUnknownFileActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".exporter.activity.ExportActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".importer.activity.ImportActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".migration.activity.MigrationActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".cleaner.service.CacheCleanerAndroidService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".exporter.service.ExportAndroidService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".importer.service.ImportAndroidService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".security.service.ReEncryptionAndroidService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".migration.service.AppMigrationAndroidService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>