<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.security.SetupKeyActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.security.AuthActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.security.KeyRecoveryActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.notes.NotesListActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.notes.OpenNoteActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.notes.SearchNotesActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.notes.ViewNotesSearchResultsActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.notes.ImportNotesActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.files.AssignmentsListActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.files.AddFilesActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.files.viewer.OpenImageActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.files.viewer.OpenVideoActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />

        <service android:name=".service.CacheCleanerService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:enabled="true"/>
    </application>

</manifest>